table, tr, td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: .8vw;
    font-weight: bold;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
body {
    background-color: 3260FF;
}
table {
    position: relative;
    width: 100%;
}
.first {
    background-color: tomato;
}
.second {
    background-color: dodgerblue;
}
.third {
    background-color: yellow;
}
.fourth {
    background-color: orange;
}
.fifth {
    background-color: mediumseagreen;
}
.sixth {
    background-color: white;
}
.seventh {
    background-color: grey;
}
.eigth {
    background-color: pink;
}
#lunch {
    height: 30px;
}
@page {
    size: landscape;
}
@media print {
    body {
        visibility: hidden;
    }
    table {
        visibility: visible;
    }
}
